@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	font-size: 62.5%;

	--bg:   #1A1A1A;
	--fg:   #EEEEEE;
	--blue: #164987;
	--red2:  #A81F2A;
  --red:  #d6462d
}

body {
	background-color: var(--bg);
	color: var(--fg);
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;

	margin: 10rem auto;
	width: min(90vw, 1000px);
};

h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 4rem;
	line-height: 4.5rem; 
}

h2 {
	font-size: 3.5rem;
	line-height: 3.5rem; 
}

button {
	font-size: 1.6rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;

	padding: 1rem 2rem;

	background-color: var(--blue);
	color: var(--fg);
	
	border: none;
	border-radius: 1rem;
}

input {
	font-size: 1.6rem;
	font-family: 'Open Sans', sans-serif;
	width: 500px;

	background-color: var(--bg);
	color: var(--fg);
	
	padding: 1rem 2rem;

	border: 3px solid var(--blue);
	border-radius: 10px;
}

.row {
	display: flex;
	gap: 50px;
	flex-direction: row;
}

@media (hover: hover) {
	button:hover {
		cursor: pointer;
	}
}

table {
	margin: 50px auto;
}

th, td {
	padding: 1rem 2rem;
	text-align: center;
}

thead tr {
	border: 1px solid var(--fg);
}

.near {
	box-shadow: 3px 6px 12px #000;
}

.near-text {
	text-shadow: 3px 6px 12px #000;
}

.middle-distance {
	box-shadow: 2px 4px 8px #000;
}

.middle-text {
	text-shadow: 2px 4px 8px #000;
}

.far {
	box-shadow: 1px 2px 4px #000;
}

.far-text {
	text-shadow: 1px 2px 4px #000;
}

#popup-container {
	display: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	backdrop-filter: brightness(70%) blur(4px);
}

.popup {
	position: relative;

	background-color: var(--bg);

	display: flex;
	flex-direction: column;
	
	max-width: min(90vw, 1200px);
	padding: 20px 40px;

	border-radius: 20px;
}

.close-btn {
	position: absolute;
	right: 20px;
	top: 5px;

	font-size: 4rem;

	color: var(--red);
}

.close-btn:after {
	display: inline-block;
	content: "\00d7";
}

.close-btn:hover {
	cursor: pointer;
}
