@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	font-size: 62.5%;

	--bg:   #1A1A1A;
	--fg:   #EEEEEE;
	--blue: #164987;
	--red:  #A81F2A;
}

body {
	background-color: var(--bg);
	color: var(--fg);
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;

	margin: 10rem auto;
	width: min(90vw, 1000px);
};

h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 4rem;
	line-height: 4.5rem; 
}

button {
	font-size: 1.6rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;

	padding: 1rem 2rem;

	background-color: var(--blue);
	color: var(--fg);
	
	border: none;
	border-radius: 1rem;
}

@media (hover: hover) {
	button:hover {
		cursor: pointer;
	}
}

table {
	margin: 50px auto;
}

th, td {
	padding: 1rem 2rem;
	text-align: center;
}

thead tr {
	border: 1px solid var(--fg);
}

.near {
	box-shadow: 3px 6px 12px #000;
}

.near-text {
	text-shadow: 3px 6px 12px #000;
}

.middle-distance {
	box-shadow: 2px 4px 8px #000;
}

.middle-text {
	text-shadow: 2px 4px 8px #000;
}

.far {
	box-shadow: 1px 2px 4px #000;
}

.far-text {
	text-shadow: 1px 2px 4px #000;
}
